/* body styles */

.body{
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 7vh 0;
}


.body__block__3, .body__block__1{
    width: 300px;
    margin: 40px;
}

.body__block__2{
    max-width: 100%;
    margin: 50px 0 50px 0;

}

@media (max-width: 1200px){
    .body__block__2{
        order: 1;
    }
    .body__block__1{
        order: 2;
    }
    .body__block__3{
        order: 3;
    }

}

@media (max-width: 600px){
    .body__block__2{
        margin: 40px 0 40px 0;
    }
    .body__block__1{
        margin: 40px 0 40px 0;
    }
    .body__block__3{
        margin: 40px 0 40px 0;
    }

}

/* block 1 */
.body__block__1{
    text-align: center;

}

.body__block__1 p{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    text-align: left;
    line-height: 20px;

}

.body__block__1>span{
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin: 40px 0 40px 0;
}

.body__block__1 span>span{
    font-family: 'Roboto Mono', monospace;
}

/* block 3*/

.body__block__3{
    font-family: 'Roboto Slab', serif;
}

.body__block__3 p{
    font-size: 36px;
    margin: 40px;
    text-align: center;
}

.body__block__3 li{
    line-height: 20px;
    font-size: 15px;
    list-style: none; /* Убираем исходные маркеры */
    background: url(../images/body/cat_foot.svg) no-repeat 0 15px; /* Параметры фона */
    padding-left: 40px; /* Смещаем текст вправо */
    margin-top: 3vh;
}
