/* footer */

footer hr{
    max-width: 1000px;
    height: 2px;
    background-color: #BABABA;
    margin: auto;
}

.footer__items{
    margin: auto;
    max-width: 530px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer__about{
    font-family: 'Roboto Slab', serif;
    max-width: 183px;
    height: 90px;
    margin: 0 2vh 0 2vh;
    font-size: 10px;
    line-height: 13px;
}

.footer__about span{
    display: block;
    margin: 1vh 0 1vh 0;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

.footer__contacts{
    max-width: 253px;
    min-width: 121px;
    height: 90px;
    margin: 0 2vh 0 2vh;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contacts>span{
    margin: 1vh 0;
    display: inline-block;
    font-size: 15px;
}

.footer__contacts p{
    margin: 1vh 0 1vh 0;
    font-size: 10px;
    align-self: flex-start;
}

.footer__contacts img{
    position: relative;
    bottom: 5px;
}