header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    width: 300px;
    height: 120px;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
}
.header__logo p{
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}


.header__menu{
    width: 50px;
    height: 70px;
    background-color: #EBEBEB;
    border-radius: 15px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__menu img{
    margin: 18px;
}
.header__menu{
    transition: 200ms;
}

.header__menu:hover{
    box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
    width: 435px;
    transition: 200ms;
}