
/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



/*   main styles   */


.wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 8vh;

}

.profile__header{
    background-color: #ffffff;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid #BABABA;
}

.profile__menu{
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 2;
    min-height: 100vh;
    border-right: 1px solid #BABABA;
    overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если содержимое больше блока */
}

.profile__main{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #F9F9F9;
    height: 92vh;
    overflow: auto; /* свойство для прокрутки по горизонтали. Автоматом, если содержимое больше блока */
}



/*   menu styles   */


.profile__logo{
    margin: 2vh auto;
    max-width: 181px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
}

.profile__logo img{
    width: 60px;
    margin: 0 1vh 0 1vh;
}

.profile__tabs{
    display: flex;
    flex-direction: column;
}

.profile__tabs p{
    text-align: center;
    width: 80%;
    height: 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin: 20px auto 0 auto;
    border-bottom: 1px solid #BABABA;

}

.profile__tabs button{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    height: 40px;
    width: 80%;
    margin: auto;
    background-color: white;
    text-align: left;
    transition: box-shadow 0.2s;
}
